/* fonts */
@font-face {
  font-family: 'Lobster';
  src: url("../assets/fonts/Lobster-Regular.ttf");
}

@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff");
  /* Путь к файлу со шрифтом */
}

/* defoults settings  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg"), rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  /* transition: background-image 1s ease-in-out; */
}

/* header styles starts */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 265px;
  padding: 20px;
}

.left__side-wrapper {
  transition: 0.4s;
}



.player__icon,
.slider__icon,
.change__quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}



.player__icon:hover,
.slider__icon:hover,
.change__quote:hover,
.button__api:hover,
.button__settings:hover,
.button__todo:hover,
.button__dispaly-hide:hover,
.button__dispaly-hide-0n:hover {
  opacity: 1;
}

.player__icon:active,
.slider__icon:active,
.change__quote:active,
.button__api:active,
.button__api:active,
.button__dispaly-hide:active,
.button__dispaly-hide-0n:active {
  border: 0;
  outline: 0;
  transform: scale(1.2);
}

.button__settings:active {
  transform: rotate(270deg)
}

.button__todo:active {
  transform: rotate(45deg)
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  transition: 0.4s;
  background-color: rgba(181, 178, 178, 0.2);
  border: 1px solid rgb(51, 50, 50);
  border-radius: 10px;
  padding: 10px 10px;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}


.soundoff {
  color: #C5B358;
  background-color: #918f9c;
}

.player__controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.play__list {
  text-align: left;
  background-color: rgba(181, 178, 178, 0.2);
  border: 1px solid rgb(51, 50, 50);
  border-radius: 10px;
  padding: 10px;
}

.track_name {
  font-size: 14px;
}

.play__item {
  position: relative;
  height: 30px;
  padding-right: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play__item:hover {
  opacity: 1;
}

.play__item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: -3px;
  font-weight: 900;
}

.item__active::before {
  color: #C5B358;
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.list__play {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.sound__on {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/soundOn.png");
}

.sound__off {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/soundOf.png");
}

.volume__level-title {
  font-size: 14px;
  margin-bottom: 5px;

}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play__prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play__next {
  background-image: url("../assets/svg/play-next.svg");
}

.player {
  padding: 10px 5px;
  margin-bottom: 5px;
  background-color: rgba(181, 178, 178, 0.2);
  border: 1px solid rgb(51, 50, 50);
  border-radius: 10px;
}



.player__controls-advance {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.track__time-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 5px;

}

.lang {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: 0.3s;
}

.lang__box {
  padding: 10px;
  border: 3px solid gainsboro;
  border-radius: 10%;
  cursor: pointer;
  background-color: transparent;
  opacity: .6;
  cursor: pointer;
  transition: .3s;
  margin-left: 10px;
  margin-bottom: 10px;

}

.lang__active {
  opacity: 1.0;
  transform: scale(1.1);

}

.lang__box:hover,
.button__api:hover {
  opacity: 1.0;
}



/* header styles ends */


/* main styles starts */

.main__wapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.main__date-time-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.time {
  height: 100px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  transition: all 0.4s;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: all 0.4s;
  align-self: flex-end;
  margin-left: 10px;
}

.greeting__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  height: 48px;
  width: 100%;
  font-size: 40px;
  transition: all 0.4s;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.greeting__name {
  font-family: 'Arial', sans-serif;
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 60px;
  text-align: left;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 0px;
  outline: 0px;
}


.slide__prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}


.slide__next {

  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");

}

.slider__icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
  z-index: 6;
}


/* main styles send */


/* footer styles starts */

.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 160px;
  padding: 20px;
}

.footer__quotes-wraper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  transition: 0.6s;
  height: 155px;
}


.change__quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  margin-bottom: 5px;
}

.main__settings {
  z-index: 5;
  position: relative;
  bottom: -15px;
  left: 45px;
}

.main__settings_wrapper {
  width: 200px;
  background-color: rgba(181, 178, 178, 0.2);
  border: 1px solid rgb(51, 50, 50);
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.4s;
  transition-property: all;
  opacity: 0;
  overflow: hidden;

}

.display__block {
  opacity: 1.0;
  height: auto;
}

.hide__block {
  opacity: 0;
  -height: 0;
}

.hide__on__load {
  transition: none;
}

.button__api {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  height: 35px;
  padding: 5px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  opacity: .5;
  cursor: pointer;
  transition: .3s;
}



.api__select {
  opacity: 1.0;
}

.title__background-source {
  padding: 5px 0;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);

}

.title__dispaly-hide,
.h4__title-tag {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 5px 0;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
}


.img__tags {
  border-radius: 5px;
  border: 2px solid rgba(252, 252, 252, 0.7);
  height: 22px;
  padding-left: 5px;
  font-weight: 600;

}

.button__settings {
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: all .6s;
  background-image: url("../assets/svg/settings__002.png");
}

.button__todo {
  height: 55px;
  width: 46px;
  background-size: 46px 55px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: all .6s;
  background-image: url("../assets/svg/toDo__ico-001.png");
}

.dispaly-hide-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.dispaly-hide-block {
  margin-right: 7px;
}


.title__dispaly-hide-block {
  font-size: 14px;
  font-weight: normal;
}



.button__dispaly-hide,
.button__dispaly-hide-0n {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .6;
  cursor: pointer;
  transition: .3s;
  background-image: url("../assets/svg/icon__cross.png");
  margin-top: 5px;
}

.button__dispaly-hide-0n {
  background-image: url("../assets/svg/icon__check-mark.png");
}

.todo__wrapper {
  width: 250px;
  transition: 0.4s;
  height: auto;
}

.hidden {
  display: none;
}

.todo__list {
  list-style: none;
  color: #000;
  max-width: 250px;
  overflow: hidden;
}

.todo__list-item {
  margin-bottom: 5px;
  transition: all 0.3s;
}

.todo-done {
  text-decoration: line-through;
}



.todo__list-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  user-select: none;

}

.todo__span {
  text-align: left;
  overflow: hidden;
  font-size: 14px;

}


.todo__list-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.todo__input-edit {
  outline: none;
  border: 0;
  display: none;
}


.todo__list-input+span::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: #fff;
  border: 2px solid #717079;
  border-radius: 4px;
  vertical-align: top;
}

.todo__list-input:checked+span::before {
  background-color: #918f9c;
  background-image: url("../assets/svg/todo__check.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.todo__list-input:not(:checked):hover+span::before,
.todo__list-input:not(:checked):focus+span::before {
  background-color: rgba(51, 28, 128, 0.2);
}

.todo__button-delete {
  background-image: url(../assets/svg/todo__trash.png);
  width: 23px;
  height: 25px;
  border: 0;
  outline: 0;
  background-size: 20px 25px;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.7;
  transition: 0.4s;
}

.todo__button-edit {
  background-image: url(../assets/svg/todo__edit.png);
  width: 22px;
  height: 23px;
  border: 0;
  outline: 0;
  background-size: 20px 22px;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
  margin-right: 2px;
  opacity: 0.5;
  transition: 0.2s;

}

.todo__button-delete:hover,
.todo__button-edit:hover {
  opacity: 1;
}

.todo__add-form {
  display: flex;
}

.todo__add-form-input {
  flex-grow: 1;
  box-sizing: border-box;
  margin-right: 3px;
  padding: 12px;
  border: 1px solid #a1b5c4;
  border-radius: 4px;
}

.todo__add-form-input::placeholder {
  color: #05485f;
}

.todo__add-form-input:focus,
.todo__add-form-input:hover {
  border: 1px solid #241788;

}

.todo__add-form-button {
  flex-shrink: 0;
  font-size: 20px;
  padding: 12px;
  color: #fff;
  background-color: #918f9c;
  border: none;
  border-radius: 4px;
  user-select: none;
  transition: 0.4s;
}

.todo__add-form-button:hover,
.todo__add-form-button:focus {
  background-color: #7f7b9a;
  outline: none;
}

.todo__add-form-button:active {
  background-color: #332d5e;
}

.todo__hide {
  display: none
}

.todo__show {
  display: block;
  border: 1px dashed #332d5e;
}

.todo__save {
  background-image: url(../assets/svg/todo__save2.png);
  opacity: 1;
}


/* footer styles ends */


/* media queries */

@media (max-width: 1130px) {
  .time {
    min-height: 70px;
    font-size: 62px;
  }

  .main__date-time-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .date {
    align-self: auto;
    margin-bottom: 5px;
    transition: all 0.4s;

  }
}

@media (max-width: 768px) {
  .time {
    min-height: 70px;
    font-size: 52px;
  }

  .greeting__container {
    min-height: 35px;
    font-size: 30px;


  }

  .greeting {
    padding: 5px;
    height: auto;

  }

  .greeting__name {
    font-size: 32px;
    padding: 5px;

  }

  .footer__flex {
    flex-direction: column;
  }

  .footer__quotes-wraper {
    height: auto;
  }
}


@media (max-width: 540px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .greeting__container {
    margin-bottom: 20px;
  }

  .weather {
    margin-top: 10px;
  }


  .footer__flex {
    flex-direction: column-reverse;
  }

  .lang {
    order: -1;
  }

  .main__settings {
    position: absolute;
    bottom: -80%;
    left:45%;
    margin-left:-25%;

  }
  .main__settings_wrapper {
    background-color: rgba(74, 71, 71, 1.0);
    width: 80%;
    
  }
   
    
  }


